<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bustiblelemons.cthulhator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:theme="@style/BRPTheme"
        tools:replace="android:theme">
        <activity
            android:name=".character.portrait.ui.PortraitsActivity"
            android:label="@string/activity_portraits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CharacterViewerActivity"
            android:label="@string/activity_character"
            android:screenOrientation="portrait" />
        <activity
            android:name=".character.description.ui.RandomCharactersActivity"
            android:label="@string/activity_random_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/activity_test" />
        <activity
            android:name=".character.characteristics.ui.StatisticsCreatorActivity"
            android:label="@string/add_character_statistics"
            android:screenOrientation="portrait"
            android:theme="@style/Platform.AppCompat" />
        <activity
            android:name=".character.history.ui.HistoryEditorActivity"
            android:label="@string/add_character_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".character.skills.ui.SkillsChooserActivity"
            android:label="@string/choose_skillset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".character.creation.ui.CreationWorkFlowActivity"
            android:label="@string/creation_workflow"
            android:screenOrientation="portrait" />


        <activity
            android:name=".character.characterslist.ui.CharactersListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".configuration.ConfigurationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
